# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3

# Media and static files
/media
/staticfiles

# Virtual environments
venv/
env/
ENV/
*.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# PyCharm settings
.idea/